- vars:
      id: 252
      instance:
          hostname: home
          memory: 4096
          cores: 2
          storage: local-lvm
          bridge: vmbr0
          ip: '{{ env.JARVIS_NETWORK_PREFIX }}.{{ id }}'
          gateway: '{{ env.JARVIS_GATEWAY }}'
  block:
      - name: '{{ instance.hostname | upper }}: Check if Instance exists'
        uri:
            url: 'http://{{ instance.ip }}:8123'
            timeout: 5
        register: instance_check
        failed_when: false
        changed_when: false

      - set_fact:
            instance_exists: '{{ instance_check.status | default(0) == 200 }}'

      - name: '{{ instance.hostname | upper }}: Provision Instance'
        block:
            - name: '{{ instance.hostname | upper }}: Fetch latest Home Assistant OS version'
              uri:
                  url: https://api.github.com/repos/home-assistant/operating-system/releases/latest
                  return_content: true
              register: haos_release_info

            - name: '{{ instance.hostname | upper }}: Determine HAOS URL and Version'
              set_fact:
                  haos_version: '{{ haos_release_info.json.tag_name }}'
                  haos_download_url: "{{ haos_release_info.json.assets | selectattr('name', 'search', 'qcow2.xz') | map(attribute='browser_download_url') | first }}"

            - name: '{{ instance.hostname | upper }}: Download HAOS Image'
              get_url:
                  url: '{{ haos_download_url }}'
                  dest: '/var/lib/vz/template/iso/haos_ova-{{ haos_version }}.qcow2.xz'
                  mode: '0644'

            - name: '{{ instance.hostname | upper }}: Extract HAOS Image'
              command:
                  cmd: 'unxz -k -f /var/lib/vz/template/iso/haos_ova-{{ haos_version }}.qcow2.xz'
                  creates: '/var/lib/vz/template/iso/haos_ova-{{ haos_version }}.qcow2'

            - name: '{{ instance.hostname | upper }}: Create VM'
              command: >
                  qm create {{ id }}
                  --name "{{ instance.hostname }}"
                  --memory {{ instance.memory }}
                  --cores {{ instance.cores }}
                  --bios ovmf
                  --machine q35
                  --net0 "virtio,bridge={{ instance.bridge }}"
                  --ide2 "{{ instance.storage }}:cloudinit"
                  --ipconfig0 "ip={{ instance.ip }}/24,gw={{ instance.gateway }}"
                  --nameserver "{{ env.JARVIS_DNS_SERVERS | join(' ') }}"
                  --searchdomain "local"
                  --onboot 1
                  --ostype l26
                  --agent 1
                  --scsihw virtio-scsi-pci
                  --efidisk0 "{{ instance.storage }}:0,format=raw,efitype=4m,size=4M"

            - name: '{{ instance.hostname | upper }}: Import Disk'
              command: 'qm importdisk {{ id }} /var/lib/vz/template/iso/haos_ova-{{ haos_version }}.qcow2 {{ instance.storage }}'

            - name: '{{ instance.hostname | upper }}: Attach Disk'
              command: 'qm set {{ id }} --scsi0 {{ instance.storage }}:vm-{{ id }}-disk-0,ssd=1,discard=on,size=32G --boot order=scsi0'

            - name: '{{ instance.hostname | upper }}: Start VM'
              command: qm start {{ id }}

            - name: '{{ instance.hostname | upper }}: Cleanup Downloaded Files'
              file:
                  path: '{{ item }}'
                  state: absent
              loop:
                  - '/var/lib/vz/template/iso/haos_ova-{{ haos_version }}.qcow2.xz'
                  - '/var/lib/vz/template/iso/haos_ova-{{ haos_version }}.qcow2'

        when: not instance_exists
  become: true
