- name: Configure
  set_fact:
      container_id: qbittorrent

- name: Create qBittorrent Directories
  file:
      path: '{{ env.JARVIS_CONFIGS_DIR }}/{{ container_id }}/{{ qbit_dir }}'
      state: directory
      mode: '0755'
  loop:
      - config
      - downloads
  loop_control:
      loop_var: qbit_dir

- name: Download and Install VueTorrent
  command: |
      pct exec {{ id }} -- bash -c "
      rm -rf /opt/vuetorrent && \
      mkdir -p /opt/vuetorrent && \
      curl -L -o /tmp/vuetorrent.zip https://github.com/VueTorrent/VueTorrent/releases/latest/download/vuetorrent.zip && \
      unzip -o /tmp/vuetorrent.zip -d /opt/vuetorrent && \
      mv /opt/vuetorrent/*/* /opt/vuetorrent/ && \
      rm -rf /tmp/vuetorrent.zip"

- name: Deploy qBittorrent Container
  community.docker.docker_container:
      name: '{{ container_id }}'
      image: linuxserver/qbittorrent:latest
      restart_policy: unless-stopped
      env:
          PUID: '0'
          PGID: '0'
          TZ: '{{ env.JARVIS_TZ }}'
          WEBUI_PORT: '8080'
          # ALTERNATIVE_UI_PATH: /themes/vuetorrent
      ports:
          - '6881:6881'
          - '6881:6881/udp'
          - '8000:8080'
      volumes:
          - '{{ instance.configs }}/{{ container_id }}/config:/config'
          - '/media/wdhdd/torrents:/downloads'
          - '/opt/vuetorrent:/themes/vuetorrent'
      labels:
          traefik.enable: 'true'
          traefik.http.routers.{{ container_id }}.rule: 'Host(`{{ container_id }}.{{ env.JARVIS_DOMAIN }}`)'
          traefik.http.routers.{{ container_id }}.entrypoints: 'websecure'
          traefik.http.routers.{{ container_id }}.tls.certresolver: '{{ env.JARVIS_CERT_RESOLVER }}'
          traefik.http.services.{{ container_id }}.loadbalancer.server.port: '8080'
      docker_host: '{{ docker_host }}'
