- name: '*arr Services: Extract API Keys'
  block:
      - name: 'RADARR: Extract API Key'
        shell: |
            pct exec {{ id }} -- cat {{ config.local }}/radarr/config.xml | grep -oP '(?<=<ApiKey>)[^<]+'
        register: radarr_api_key
        changed_when: false
        retries: 5
        delay: 5
        until: radarr_api_key.rc == 0

      - name: 'SONARR: Extract API Key'
        shell: |
            pct exec {{ id }} -- cat {{ config.local }}/sonarr/config.xml | grep -oP '(?<=<ApiKey>)[^<]+'
        register: sonarr_api_key
        changed_when: false
        retries: 5
        delay: 5
        until: sonarr_api_key.rc == 0

      - name: 'SONARR-ANIME: Extract API Key'
        shell: |
            pct exec {{ id }} -- cat {{ config.local }}/sonarr-anime/config.xml | grep -oP '(?<=<ApiKey>)[^<]+'
        register: sonarr_anime_api_key
        changed_when: false
        retries: 5
        delay: 5
        until: sonarr_anime_api_key.rc == 0

      - set_fact:
            radarr_api: '{{ radarr_api_key.stdout }}'
            sonarr_api: '{{ sonarr_api_key.stdout }}'
            sonarr_anime_api: '{{ sonarr_anime_api_key.stdout }}'

- name: '*arr Services: Configure Instances'
  include_tasks: arr_config.yml
  loop:
      - name: 'Radarr'
        config_dir: 'radarr'
        port: 7878
        category: 'movies'
        root_folder: '/media/Movies'
      - name: 'Sonarr'
        config_dir: 'sonarr'
        port: 8989
        category: 'tv'
        root_folder: '/media/TV'
      - name: 'Sonarr-Anime'
        config_dir: 'sonarr-anime'
        port: 8990
        category: 'anime'
        root_folder: '/media/Anime'
  loop_control:
      loop_var: arr_app
