- set_fact:
      stack_name: media

- name: '{{ stack_name | upper }}: Create Library Directories'
  vars:
      mapped_uid: '{{ instance.subuid | int + 1000 }}'
  file:
      path: '{{ media_dir }}'
      state: directory
      mode: '0777'
      owner: '{{ mapped_uid }}'
      group: '{{ mapped_uid }}'
  loop:
      - '/mnt/ssd/Media'
      - '/mnt/ssd/Media/Downloads'
      - '/mnt/ssd/Media/Downloads/movies'
      - '/mnt/ssd/Media/Downloads/tv'
      - '/mnt/ssd/Media/Downloads/anime'
      - '/mnt/ssd/Media/Movies'
      - '/mnt/ssd/Media/TV'
      - '/mnt/ssd/Media/Anime'
  loop_control:
      loop_var: media_dir

- name: '{{ stack_name | upper }}: Deploy Provider Apps'
  include_tasks: 'media/{{ media_app }}.yml'
  loop:
      - qbittorrent
      - radarr
      - sonarr
      - sonarr_anime
  loop_control:
      loop_var: media_app

- name: '{{ stack_name | upper }}: Extract Dependency API Keys'
  block:
      - name: '{{ stack_name | upper }}: Extract API Key'
        shell: |
            pct exec {{ id }} -- cat {{ instance.configs }}/media/{{ arr_item }}/config.xml | grep -oP '(?<=<ApiKey>)[^<]+'
        loop:
            - radarr
            - sonarr
            - sonarr-anime
        loop_control:
            loop_var: arr_item
        register: arr_keys
        changed_when: false
        failed_when: false

      - set_fact:
            radarr_api: "{{ arr_keys.results[0].stdout | default('') }}"
            sonarr_api: "{{ arr_keys.results[1].stdout | default('') }}"
            sonarr_anime_api: "{{ arr_keys.results[2].stdout | default('') }}"

- name: '{{ stack_name | upper }}: Deploy Consumer Apps'
  include_tasks: 'media/{{ media_app }}.yml'
  loop:
      - prowlarr
      - bazarr
      - jellyseerr
  loop_control:
      loop_var: media_app
