- vars:
      id: 254
      instance:
          hostname: jellyfin
          memory: 6144
          swap: 512
          cores: 4
          storage: local-lvm
          ip: '{{ env.JARVIS_NETWORK_PREFIX }}.{{ id }}'
          gateway: '{{ env.JARVIS_GATEWAY }}'
      paths:
          config: '{{ env.JARVIS_CONFIGS_DIR }}/{{ instance.hostname }}/etc'
          data: '{{ env.JARVIS_CONFIGS_DIR }}/{{ instance.hostname }}/lib'
  block:
      - name: Check if Instance exists
        command: pct status {{ id }}
        register: instance_status_check
        failed_when: false
        changed_when: false

      - name: Set Instance Exists Fact
        set_fact:
            instance_exists: '{{ instance_status_check.rc == 0 }}'

      - name: Create Config Directory on Host
        file:
            path: '{{ item }}'
            state: directory
            mode: '0777'
            recurse: true
        loop:
            - '{{ paths.config }}'
            - '{{ paths.data }}'

      - name: Provision Instance
        block:
            - name: Update LXC Template Database
              command: pveam update
              changed_when: false

            - name: Determine Latest Ubuntu Template
              shell: pveam available | grep "ubuntu-[0-9.]*-standard" | sort -V | tail -n 1 | awk '{print $2}'
              register: ubuntu_template_name
              changed_when: false

            - name: Download Ubuntu Template
              command: 'pveam download local {{ ubuntu_template_name.stdout }}'
              args:
                  creates: '/var/lib/vz/template/cache/{{ ubuntu_template_name.stdout }}'

            - name: Create LXC
              command: >
                  pct create {{ id }} /var/lib/vz/template/cache/{{ ubuntu_template_name.stdout }}
                  --hostname {{ instance.hostname }}
                  --memory {{ instance.memory }}
                  --swap {{ instance.swap }}
                  --cores {{ instance.cores }}
                  --ostype ubuntu
                  --net0 name=eth0,bridge=vmbr0,hwaddr=02:35:fa:19:7c:e8,ip={{ instance.ip }}/24,gw={{ instance.gateway }}
                  --nameserver "{{ env.JARVIS_DNS_SERVERS | join(' ') }}"
                  --storage {{ instance.storage }}
                  --rootfs {{ instance.storage }}:16
                  --unprivileged 1
                  --features keyctl=1,nesting=1
                  --tags media
                  --onboot 1

            - name: Configure LXC Mounts and Passthrough
              blockinfile:
                  path: '/etc/pve/lxc/{{ id }}.conf'
                  marker: '# {mark} ANSIBLE MANAGED BLOCK'
                  block: |
                      lxc.cgroup2.devices.allow: c 226:* rwm
                      lxc.mount.entry: /dev/dri/renderD128 dev/dri/renderD128 none bind,optional,create=file
                      lxc.mount.entry: /dev/dri/card1 dev/dri/card1 none bind,optional,create=file
                      mp0: /mnt/wdhdd,mp=/media/wdhdd
                      mp1: /mnt/ssd,mp=/media/ssd
                      mp2: {{ paths.config }},mp=/etc/jellyfin
                      mp3: {{ paths.data }},mp=/var/lib/jellyfin
                      lxc.mount.entry: var/cache/transcodes var/lib/jellyfin/transcodes none bind,create=dir,optional 0 0

            - name: Start LXC
              command: pct start {{ id }}

            - name: Wait for LXC Network
              wait_for:
                  host: '{{ instance.ip }}'
                  port: 22
                  timeout: 60
                  state: started
              delegate_to: localhost
              become: false
              ignore_errors: true

            - name: Install Jellyfin and Dependencies
              command: |
                  pct exec {{ id }} -- bash -c "
                  export DEBIAN_FRONTEND=noninteractive && \
                  apt-get update && \
                  apt-get install -y curl gnupg libjemalloc2 intel-media-va-driver-non-free vainfo && \
                  if [[ ! -f /usr/lib/libjemalloc.so ]]; then ln -sf /usr/lib/x86_64-linux-gnu/libjemalloc.so.2 /usr/lib/libjemalloc.so; fi && \
                  curl -fsSL https://repo.jellyfin.org/install-debuntu.sh | bash"
              changed_when: false
              args:
                  creates: /usr/bin/jellyfin

        when: not instance_exists
  become: true
