---
- vars:
      mount_points:
          - uuid: '06BDD2E367CF2A57'
            path: '/mnt/ssd'
            fstype: 'ntfs-3g'
            opts: 'defaults,noatime,nodiratime,nofail,x-systemd.device-timeout=5s,pdc_permissions,big_writes'
          - uuid: '083AAA5A3AAA4492'
            path: '/mnt/wdhdd'
            fstype: 'ntfs-3g'
            opts: 'defaults,noatime,nodiratime,nofail,x-systemd.device-timeout=5s,pdc_permissions,big_writes'
  block:
      - name: Ensuring NTFS Support
        apt:
            name: ntfs-3g
            state: present

      - name: Ensure Mount Points
        file:
            path: '{{ mount_point_item.path }}'
            state: directory
            mode: '0755'
        loop: '{{ mount_points }}'
        loop_control:
            loop_var: mount_point_item

      - name: Mount Drives
        mount:
            path: '{{ mount_point_item.path }}'
            src: 'UUID={{ mount_point_item.uuid }}'
            fstype: '{{ mount_point_item.fstype }}'
            opts: '{{ mount_point_item.opts }}'
            state: mounted
        loop: '{{ mount_points }}'
        loop_control:
            loop_var: mount_point_item
  become: true
