---
- name: Install Security Tools
  apt: { name: [argon2, python3-bcrypt] }

- name: Generate Argon2id
  shell: echo -n "$PASS" | argon2 "$(head -c 16 /dev/urandom | base64)" -id -t 3 -k 65536 -p 4 -l 32 -e
  environment: { PASS: '{{ env.JARVIS_ADMIN_PASSWORD }}' }
  register: argon2
  changed_when: false
  no_log: true

- name: Generate Bcrypt
  command: python3 -c "import bcrypt, os; print(bcrypt.hashpw(os.environ['PASS'].encode(), bcrypt.gensalt()).decode())"
  environment: { PASS: '{{ env.JARVIS_ADMIN_PASSWORD }}' }
  register: bcrypt
  changed_when: false
  no_log: true

- set_fact:
      env: "{{ env | combine({
          'JARVIS_ADMIN_PASSWORD_ARGON': argon2.stdout | trim,
          'JARVIS_ADMIN_PASSWORD_BCRYPT': bcrypt.stdout | trim
          }) }}"
  no_log: true
