---
- name: 'UPDATE: Check Last Update Time'
  stat:
      path: '{{ env.JARVIS_DIR }}/last_apt_update'
  register: last_update

- name: 'UPDATE: Get Current Timestamp'
  shell: date +%s
  register: current_time
  changed_when: false

- name: 'UPDATE: System Update & Cleanup'
  block:
      - name: 'UPDATE: Update Apt Cache'
        block:
            - name: 'UPDATE: Run Apt Update'
              command: apt-get update
        rescue:
            - name: 'UPDATE: Clear apt lists and cache'
              shell: rm -rf /var/lib/apt/lists/* /var/cache/apt/*.bin && apt-get clean

            - name: 'UPDATE: Retry Apt Update'
              command: apt-get update

      - name: 'UPDATE: Upgrade, Autoremove & Clean'
        apt:
            upgrade: dist
            autoremove: yes
            purge: yes
            autoclean: yes

      - name: 'UPDATE: Update Timestamp'
        file:
            path: '{{ env.JARVIS_DIR }}/last_apt_update'
            state: touch
  become: true
  when: not last_update.stat.exists or ((current_time.stdout | int - last_update.stat.mtime | int) > 86400)
