---
- vars:
      doppler_info:
          project: jarvis
          config: prd
      doppler_required_secrets:
          - JARVIS_ADMIN_EMAIL
          - JARVIS_ADMIN_NAME
          - JARVIS_ADMIN_PASSWORD
          - JARVIS_AUTH_GITHUB_CLIENT_ID
          - JARVIS_AUTH_GITHUB_CLIENT_SECRET
          - JARVIS_AUTH_GOOGLE_APP_PASSWORD
          - JARVIS_AUTH_GOOGLE_CLIENT_ID
          - JARVIS_AUTH_GOOGLE_CLIENT_SECRET
          - JARVIS_AUTH_SESSION_KEY
          - JARVIS_AUTH_X_CLIENT_ID
          - JARVIS_AUTH_X_CLIENT_SECRET
          - JARVIS_CF_DNS_API_TOKEN
          - JARVIS_CF_TUNNEL_TOKEN
          - JARVIS_DOMAIN
          - JARVIS_GITHUB_TOKEN_SSH
          - JARVIS_POSTGRES_PASSWORD
      local_config:
          JARVIS_CONFIGS_DIR: '/root/.jarvis/configs'
          JARVIS_NETWORK_PREFIX: '192.168.68'
          JARVIS_GATEWAY: '{{ local_config.JARVIS_NETWORK_PREFIX }}.1'
          JARVIS_DNS_SERVERS: ['8.8.8.8', '8.8.4.4']
          JARVIS_TZ: 'Asia/Kolkata'
          JARVIS_CERT_RESOLVER: 'letsencrypt'

  block:
      - name: Ensure Doppler is Installed
        homebrew:
            name: dopplerhq/cli/doppler
            state: present

      - name: Retrieve Doppler Secrets
        block:
            - name: Download Secrets
              command: doppler secrets download --project {{ doppler_info.project }} --config {{ doppler_info.config }} --no-file --format json
              register: secrets_output
              changed_when: false
              no_log: true

        rescue:
            - name: Doppler Login Required
              fail:
                  msg: 'FAILED: `doppler login` required for {{ doppler_info.project }}/{{ doppler_info.config }}'

      - name: Parse and Verify Secrets
        set_fact:
            doppler_secrets: '{{ secrets_output.stdout | from_json }}'
        no_log: true

      - name: Validate Required Secrets
        assert:
            that: doppler_required_secrets | difference(doppler_secrets.keys()) | length == 0
            fail_msg: 'Missing: {{ doppler_required_secrets | difference(doppler_secrets.keys()) | join(", ") }}'
            success_msg: 'All required secrets are present.'

      - name: Construct Global Environment
        set_fact:
            env: '{{ doppler_secrets | combine(local_config) }}'
        no_log: true

      - name: Success Message
        debug:
            msg: 'Environment configured successfully. {{ env.keys() | length }} variables loaded.'
