---
- vars:
      vm:
          id: 252
          name: home
          memory: 4096
          cores: 2
          storage: local-lvm
          bridge: vmbr0
          ip: '{{ env.JARVIS_NETWORK_PREFIX }}.252'
          gateway: '{{ env.JARVIS_GATEWAY }}'
  block:
      - name: Check if Home VM exists
        command: qm status {{ vm.id }}
        register: vm_status_check
        failed_when: false
        changed_when: false

      - name: Set Home VM Exists Fact
        set_fact:
            home_vm_exists: '{{ vm_status_check.rc == 0 }}'

      - name: Deploy Home Assistant
        block:
            - name: Fetch latest Home Assistant OS version
              uri:
                  url: https://api.github.com/repos/home-assistant/operating-system/releases/latest
                  return_content: true
              register: haos_release_info

            - name: Determine HAOS URL and Version
              set_fact:
                  haos_version: '{{ haos_release_info.json.tag_name }}'
                  haos_download_url: "{{ haos_release_info.json.assets | selectattr('name', 'search', 'qcow2.xz') | map(attribute='browser_download_url') | first }}"

            - name: Download HAOS Image
              get_url:
                  url: '{{ haos_download_url }}'
                  dest: '/var/lib/vz/template/iso/haos_ova-{{ haos_version }}.qcow2.xz'
                  mode: '0644'

            - name: Extract HAOS Image
              command:
                  cmd: 'unxz -k -f /var/lib/vz/template/iso/haos_ova-{{ haos_version }}.qcow2.xz'
                  creates: '/var/lib/vz/template/iso/haos_ova-{{ haos_version }}.qcow2'

            - name: Create VM
              command: >
                  qm create {{ vm.id }}
                  --name "{{ vm.name }}"
                  --memory {{ vm.memory }}
                  --cores {{ vm.cores }}
                  --bios ovmf
                  --machine q35
                  --net0 "virtio=02:6e:c2:4a:00:29,bridge={{ vm.bridge }}"
                  --ide2 "{{ vm.storage }}:cloudinit"
                  --ipconfig0 "ip={{ vm.ip }}/24,gw={{ vm.gateway }}"
                  --nameserver "{{ env.JARVIS_DNS_SERVERS | join(' ') }}"
                  --searchdomain "local"
                  --onboot 1
                  --ostype l26
                  --agent 1
                  --scsihw virtio-scsi-pci
                  --efidisk0 "{{ vm.storage }}:0,format=raw,efitype=4m,size=4M"

            - name: Import Disk
              command: 'qm importdisk {{ vm.id }} /var/lib/vz/template/iso/haos_ova-{{ haos_version }}.qcow2 {{ vm.storage }}'

            - name: Attach Disk
              command: 'qm set {{ vm.id }} --scsi0 {{ vm.storage }}:vm-{{ vm.id }}-disk-0,ssd=1,discard=on,size=32G --boot order=scsi0'

            - name: Start VM
              command: qm start {{ vm.id }}

            - name: Cleanup Downloaded Files
              file:
                  path: '{{ item }}'
                  state: absent
              loop:
                  - '/var/lib/vz/template/iso/haos_ova-{{ haos_version }}.qcow2.xz'
                  - '/var/lib/vz/template/iso/haos_ova-{{ haos_version }}.qcow2'

        when: not home_vm_exists
  become: true
