---
- name: Check Last Update Time
  stat:
      path: '{{ env.JARVIS_DIR }}/last_apt_update'
  register: last_update

- name: System Update & Cleanup
  block:
      - name: Update Apt Cache
        block:
            - name: Run Apt Update
              command: apt-get update
        rescue:
            - name: Clear apt lists and cache
              shell: rm -rf /var/lib/apt/lists/* /var/cache/apt/*.bin && apt-get clean

            - name: Retry Apt Update
              command: apt-get update

      - name: Upgrade, Autoremove & Clean
        apt:
            upgrade: dist
            autoremove: yes
            purge: yes
            autoclean: yes

      - name: Update Timestamp
        file:
            path: '{{ env.JARVIS_DIR }}/last_apt_update'
            state: touch
  become: true
  when: not last_update.stat.exists or ((ansible_facts['date_time']['epoch'] | int - last_update.stat.mtime | int) > 86400)
