---
- name: System Update Started
  debug:
      msg: 'Starting system update and upgrade process...'

- name: Update Apt Cache
  apt:
      update_cache: yes
      cache_valid_time: 3600
  become: true
  register: apt_update_result

- name: Upgrade Packages
  apt:
      upgrade: dist
  become: true
  register: apt_upgrade_result
  when: apt_update_result is success

- name: Autoremove Unused Packages
  apt:
      autoremove: yes
      purge: yes
  become: true
  when: apt_upgrade_result is success

- name: Check Reboot Status
  shell: "[ -f /var/run/reboot-required ] && echo 'System requires a reboot.' || echo 'No reboot required.'"
  register: reboot_status
  changed_when: false
